.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 50%;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  font-size: 32px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  transition: all 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom-color: #ff5733;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #ff5733;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  background-color: #e64c00;
}
