body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

form {
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #999;
  width: 50%;
  margin: auto;
}

label {
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

input[type="text"], input[type="number"], input[type="email"], input[type="radio"], input[type="checkbox"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}