<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
      <link rel="stylesheet" type="text/css" href="/static/about.css">
  </head>
  <body>
    <nav>

      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('contact') }}">Contact Us</a>

    </nav>
    <h1>About Us</h1>
    <p>The Organ Receiving & Giving Awareness Network (ORGAN) India is an initiative that was launched in March 2013 by The Parashar Foundation (a Delhi-based NGO) to address the dismal state of deceased organ donation in India. We seek to remedy this shortage of organ donors and help create an ecosystem to facilitate organ donation in India. The Parashar Foundation was set up in 2000 by the late Ashok Parashar to help the poor and less fortunate by providing funds to various schools, health centers and other organizations. While our previous work was primarily in the form of donations to various causes, we now have a clear goal to create widespread awareness on organ donation in Delhi, which will benefit everyone regardless of religion, age, sex, caste, or social standing.
For the Parashar Foundation, it is a goal that stems from a personal struggle of one of its members, Kirti Parashar, Ashok Parashar's wife, who needed a heart transplant. She had the means, the best doctors, and a family who supported her. But there was no heart to be found in Delhi, and the wait could have been endless. Kirti Parashar moved to Chennai (which has a well-organized network in place) to wait for a new heart, which she got on December 13 after a four-month wait! She could afford to move and wait. ORGAN India was formed for the people of India who don't have the option of leaving their jobs and lives and moving to another city in search of an organ transplant.

Trustees of Parashar Foundation: Anka Parashar, Kirti Parashar, Vidor Parashar, Captain Pran Nath Parashar

Chief Executive Officer: Sunayana Singh

Project Manager: Dr. South Sharma

Chief Advisor: Enda Cura Chopra</p>

  </body>
</html>