<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us</title>
      <link rel="stylesheet" type="text/css" href="/static/contact.css">
  </head>
  <body>
    <nav>

      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('about') }}">about Us</a>

    </nav>
    <h1>Contact Us</h1>
    <h2>Apollo Hospitals</h2>
    <p>The Apollo Hospitals in Mumbai gains the reputation of being one of the best hospitals in India with a legacy of innovation and excellence. They offer advanced treatments by adopting the best techniques and facilities using the cutting-edge technologies in terms of surgical equipment, operating theatres, recovery areas and also help in providing tertiary care to the patients at a reasonable cost.</p>
    <p>Available Time: Open 24 hours</p>
    <p>Address: Plot # 13, Off Uran Road, Parsik Hill Rd, Sector 23, CBD Belapur, Navi Mumbai, Maharashtra 400614</p>
    <h2>BLK Super Speciality Hospital</h2>
    <p>The BLK Super Speciality Hospital in Delhi offers a wide spectrum of services to reckon in tertiary healthcare field. It is one of the top 10 hospitals in India where you can witness the modern medical, diagnostic and therapeutic equipment with a holistic approach to treat a multitude of diseases offering extremely accurate non-invasive and painless treatment to the patients.</p>
    <p>Available Time: Open 24 hours</p>
    <p>Address: Pusa Rd, Radha Soami Satsang, Rajendra Place, New Delhi, Delhi 110005</p>
    <h2>Max Super Speciality Hospital</h2>
    <p>The Max Super Speciality Hospital in Punjab has a broad vision to deliver higher standards of medical service excellence with an adherence to the latest techniques along with an eminent team of surgeons, staff and technicians with the highest levels of professional expertise and patient care in delivering extensive services to provide good outcomes using the evidence-based medicines.</p>
    <p>Available Time: Open 24 hours</p>
    <p>Address: Chandigarh Rd, near Civil Hospital, Phase 6, Sector 56, Sahibzada Ajit Singh Nagar, Punjab 160055</p>
    <h2>Medanta Hospital</h2>
    <p>The Medanta Hospital in Gurgaon is one among the top 10 hospitals in India which provides medical intelligentsia, state-of-the-art infrastructure and cutting-edge technology with an outstanding multidisciplinary team.</p>
    <p>They provide accessible and affordable healthcare in inspiring new ideas and discoveries to the patients to ensure that the patients get benefitted from the modern treatments that include the new way of diagnosing and preventing the diseases.</p>
    <p>Available Time: Open 24 hours</p>
    <p>Address: CH Baktawar Singh Rd, Medicity, Islampur Colony, Sector 38, Gurugram, Haryana 122001</p>
  </body>
</html>