<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>
     <link rel="stylesheet" type="text/css" href="/static/logout.css">
  </head>
  <body>
    <nav>
      <a href="{{('logout')}}">Logout</a>
    </nav>
    <h1>Thank You for Taking the Decision to Donate an Organ</h1>
    <p>Your selfless act of kindness will save many lives and bring hope to those in need. Your generosity and compassion will always be remembered and appreciated. Thank you for making a difference in the world.</p>
  </body>
</html>
